@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply px-2 py-1 rounded border border-gray-800 dark:border-gray-200;
  }
  .input {
    @apply ml-2 text-gray-800 dark:text-gray-800 p-1 rounded border;
  }
  .card-header {
    @apply text-lg sm:text-xl font-bold mb-2 flex items-center gap-2;
  }
}
